body{
    background-color: #1D75DE;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.logo {
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.link {
    text-decoration: none;
}


.profile {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
}

.profile p {
    color: white;
    margin: 20px;
    font-size: 20px;
}

.profile img{
    margin: auto;
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 230px; 
    max-height: 230px;
    text-align: center;
}

.tictactoe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.tictactoe h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
}

.tictactoe p {
    color: white;
    margin: 20px;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
}

#subwaysurfers {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 50vw;
    height: 50vh;
}

#subwaysurfers img{
    width: 100%;
    height: 200%;
}

#subwaysurfers button {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}
