body {
    font-family: Arial, sans-serif;
    background-color: #1D75DE;
}   

.nav {
  height: 150px;
}

.nav img {
  margin-left: 70px;
  margin-top: 50px;
}

.header {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    font-weight: 700;
    font-size: 45px;
    color: white;
    margin-bottom: 55px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #343a40;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    display: none; /* initially hide the dropdown menu */
    z-index: 1;
    margin-bottom: 150px;
}

.dropdown button {
    border-radius: 10px;
    height: 60px;
    width: 200px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    margin-top: 150px;
}

.dropdown button:hover {
    background-color: red;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

#selectedSubjectContainer {
    width: 100%;
    text-align: center;
}

#treeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 20px;
}

#mynetwork {
    box-shadow: 7px 7px 2px black;
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    border: 3px solid white;
    width: 60%;
    height: 700px;
    margin-bottom: 50px;
}