table{
    color:aliceblue;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 500px;
}


table th, table td {
    color:aliceblue;
    padding: 12px 15px;
    font-size: 50px;
    width: 500px;
}


.logo {
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}


.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
}

img{
    max-width:500px;
}


body{
    background-color: #1d75de;
}

h1{
    color: white;
    font-size: 80px;
}

h2{
    font-size: 70px;
}
p{
    color: white;
}
h6{
    color: white;
    font-size: 30px;
}

h2{
    color: white;
}
